$side_bg: #242a36;
$side_sub_bg: #121a24;
$bg: #f4f4f6;
// 规范值
$txt_tip: #9a9fad; // 提示色
$txt_primary: #5b5b5b;
$price_color: #ff4e18;
$txt_color: #4f6883; // 文本色

// 标题色
$color_biger_title:"";
$color_big_title:"";
$color_medium_title:"";
$color_small_title:"";
$color_smaller_title:"";

// 文本色
$color_text:#6985a3;
$color_text_:"";

$color_input_placeholder:#9aa3ac;
$color_input_text:#6985a3;

// 背景色
$bg_gray:gray;
$bg_white:#fff;

// 边框色
$border_color:#e5e7ea;
$border_color_focus:#589ff0;
$border_color_error:#f56c6c;
$border_radius:2px;

// 字号
$bigger: 20px;
$big: 18px;
$medium: 16px;
$small: 14px;
$smaller: 12px;
